name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint & type-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install the latest version of uv
        # Needed by ty I think
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
      - uses: pre-commit/action@v3.0.1

  build-and-test:
    name: Build & test (Linux, Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libeigen3-dev libboost-dev
      - name: Set up Python ${{ matrix.python-version }} with uv
        uses: drivendataorg/setup-python-uv-action@v1.0.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'packages'
      - name: Build and install
        run: pip install -v '.[dev]' --group dev

      - name: Run tests
        run: pytest tests -x -v
